<h1>Editing Poll</h1>

<%= form_for @question, :as => :question, :url => {:action => :update}, :builder => ComfyPoll.config.form_builder.constantize do |form| %>
  <%= render :partial => form %>
<% end %>